* {
    margin: 0;
    font-family: "Ubuntu";
}

body{
    background-image: url(Assets/pngtree-vector-illustration-of-crispy-fried-chicken-with-delicate-white-lines-on-image_13912502\ 2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 30px;
}
section{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 6%;
    padding: 10px 45px;
    border-radius: 10px;
    height: 65vh;
    width: 35vw;
    background: #F6E483;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
section h1{
    color: black;
    font-size: 24px;
    margin: 2.5rem;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    color: black;
    font-size: 17px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;

}

form input:focus{
    border-radius: 16px;
}


form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 5px;
    cursor: pointer;
    font-size: 24px;
    background-color: #E03732;
    border: 2px solid rgb(0, 0, 0);
    color: black;
    transition: all 1s;
}
form button:hover{
    background-color: #e65c58;
    transform: scale(1.1);
    transition: 0.65s;
}


header {
    background-color: #F6E483;
    height: 144px;
    display: flex;
    width: 100%;
    font-size: 33px;
}

header a {
    text-decoration: none;
    color: black;
}



#nav{
    margin-left: 5%;
    font-size: 25px;
    list-style: none;
    width: 70%;
    align-content: center;
    column-count: 5;
}

#person {
    width: 82px;
    height: 80px;
    margin-top: 30%;
    margin-left: 3%;
}

footer{
    display: flex;
    background-color: #F6E483;
    align-items: center;
    font-size: 20px;
    margin-top: 17vh;
    justify-content: space-around;
}

footer svg{
    width: 2%;
    margin-left: 10%;
    margin-right: 1%;
}

